<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cardinal Recordings</title>
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">
	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom Stylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/img/index_hero.JPG');"></div>
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			{{!-- Container --}}
			<div class="container">
				{{!-- Navbar Header --}}
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="img/logo_red.png" alt="logo">
							<img class="logo-alt" src="img/logo_red.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Collapse Nav Button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>
				{{!-- /Navbar Header --}}
				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/clients">Clients</a></li>
					<li><a href="/equipment">Equipment</a></li>
					<li><a href="/contact">Contact</a></li>					
				</ul>
				<!-- /Main navigation -->
			</div>
			{{!-- /Container --}}
		</nav>
		<!-- /Nav -->

		<!-- Home Wrapper -->
		<div class="home-wrapper">
			{{!-- Container --}}
			<div class="container">
				{{!-- Row --}}
				<div class="row">
					<!-- Home Content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							{{!-- <h1 class="white-text">Cardinal Recording</h1> --}}
							<img src="img/logo_white.png" class="img-responsive">
							<p class="white-text">Cardinal Recordings is a full service recording studio located in the suburbs of Philadelphia, 
								Pennsylvania operated by producer/engineer Mike Weiser & Steve Angello</p>	
						</div>
					</div>
					<!-- /Home Content -->
				</div>
				{{!-- /Row --}}
			</div>
			{{!-- /Container --}}
		</div>
		{{!-- Home Wrapper --}}
	</header>
	{{!-- /Header --}}

  {{{body}}}

  <!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">
		<!-- Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				{{!-- Grid --}}
				<div class="col-md-12">
					<!-- Footer Follow -->
					<ul class="footer-follow">
						<li><a href="https://www.facebook.com/cardinalrecordings/" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/cardinalrecordings/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://soundcloud.com/cardinal-recordings"target="_blank"><i class="fa fa-soundcloud"></i></a></li>
            <li><a href="mailto:CardinalRecBooking@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
					<!-- /footer follow -->
				</div>
				{{!-- /Grid --}}
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->
	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery & Bootstrap-->
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
	<script 
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/contact.js"></script>
	{{!-- /jQuery & Bootstrap --}}
</body>

</html>
