
<body>
  <!-- Header -->
	<header id="home-contact">
		<!-- Background Image -->
		<div class="bg-img img-responsive" style="background-image: url('/img/snare.png');"></div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			{{!-- Container --}}
			<div class="container">
				{{!-- Navbar Header --}}
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="img/logo_red.png" alt="logo">
							<img class="logo-alt" src="img/logo_red.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Collapse Nav Button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>
				{{!-- /Navbar Header --}}
				
				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/clients">Clients</a></li>
					<li><a href="/equipment">Equipment</a></li>
					<li><a href="/contact">Contact</a></li>					
				</ul>
				<!-- /Main navigation -->
			</div>
			{{!-- /Container --}}
		</nav>
		<!-- /Nav -->

		<!-- Home Wrapper -->
		<div class="home-wrapper">
			{{!-- Container --}}
			<div class="container">
				{{!-- Row --}}
				<div class="row">
					<!-- Home Content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<img src="img/logo_white.png" class="img-responsive">
						</div>
					</div>
					<!-- /Home Content -->
				</div>
				{{!-- /Row --}}
			</div>
			{{!-- /Container --}}
		</div>
		{{!-- Home Wrapper --}}
	</header>
	{{!-- /Header --}}


	<!-- Contact -->
	<div id="contact" class="section md-padding">
		<!-- Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<!-- /Section-header -->
				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<a href="https://www.instagram.com/cardinalrecordings/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
						<h3>Instagram</h3>
						<p>Follow us on Instagram</p>
					</div>
				</div>
				<!-- /contact -->
				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>CardinalRecBooking@gmail.com</p>
					</div>
				</div>
				<!-- /contact -->
				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<a href="https://www.facebook.com/cardinalrecordings/" target="_blank"><i class="fa fa-facebook-square"></i></a>
						<h3>facebook</h3>
						<p>Like us on Facebook</p>
					</div>
				</div>
				<!-- /contact -->
				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form" novalidate>
						<input type="text" class="input" id="name" placeholder="John Doe" required>
						<input type="email" class="input" id="email" placeholder="EMAIL@EXAMPLE.COM" required>
						<input type="text" class="input" id="subject" placeholder="Subject" required>
						<textarea class="input" id="message" placeholder="Message" required></textarea>
						<input class="main-btn" value="Send Message" type="submit">
					</form>
				</div>
				<!-- /contact form -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->
	</div>
	<!-- /Contact -->

