

	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<a href="https://www.instagram.com/cardinalrecordings/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
						<h3>Instagram</h3>
						<p>Follow us on Instagram</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>CardinalRecBooking@gmail.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<a href="https://www.facebook.com/cardinalrecordings/" target="_blank"><i class="fa fa-facebook-square"></i></a>
						<h3>facebook</h3>
						<p>Like us on Facebook</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form">
						<input type="text" class="input" id="name" placeholder="john doe" required title="Must enter a name">
						<input type="email" class="input" id="email" placeholder="email@example.com" required title="Must enter a valid email">
						<input type="text" class="input" id="subject" placeholder="Subject">
						<textarea class="input" id="message" placeholder="Message" required title="Must enter a message"></textarea>
						<input class="main-btn" value="Send Message" type="submit">
					</form>
				</div>
				<!-- /contact form -->

        <!-- chat form -->
           <div class='container'>
              <div class= 'row'>
                  <div class='.col-md-6 .offset-md-3'>
                    <div class= "chatBox" style="background-color: yellow,height: 30px;"></div>
                  </div>

              </div>

           </div>

        <!-- /chat form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->

