<body>
  <!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img img-responsive" style="background-image: url('/img/index_hero.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			{{!-- Container --}}
			<div class="container">
				{{!-- Navbar Header --}}
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="img/logo_red.png" alt="logo">
							<img class="logo-alt" src="img/logo_red.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Collapse Nav Button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>
				{{!-- /Navbar Header --}}
				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/clients">Clients</a></li>
					<li><a href="/equipment">Equipment</a></li>
					<li><a href="/contact">Contact</a></li>					
				</ul>
				<!-- /Main navigation -->
			</div>
			{{!-- /Container --}}
		</nav>
		<!-- /Nav -->

		<!-- Home Wrapper -->
		<div class="home-wrapper">
			{{!-- Container --}}
			<div class="container">
				{{!-- Row --}}
				<div class="row">
					<!-- Home Content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							{{!-- <h1 class="white-text">Cardinal Recording</h1> --}}
							<img src="img/logo_white.png" class="img-responsive">
						</div>
					</div>
					<!-- /Home Content -->
				</div>
				{{!-- /Row --}}
			</div>
			{{!-- /Container --}}
		</div>
		{{!-- Home Wrapper --}}
	</header>
	{{!-- /Header --}}

<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- why choose us content -->
			<div class="col-md-6">
				<div class="section-header">
					<h2 class="title">Why Choose Us</h2>
				</div>
				<p>Since 2008, Cardinal Recordings has offered a relaxed and creative atmosphere coupled with the highest quality recording 
					standards to artists of every genre and sound.</p>
				<p>Mike Weiser has over ten years experience as a touring/recording drummer. His goal is simple: to help artists 
					make great music. A single, EP, full length; Cardinal Recordings offers flat rates for projects at any level 
					(AND NOT BY THE HOUR). With Steve Angello now onboard, their clientele has increased and the editing, mixing and mastering 
					process has allowed them to welcome many more bands in faster and more efficient way then before.</p>
			</div>
			<!-- /why choose us content -->
			<!-- About slider -->
			<div class="col-md-6">
				<img class="img-responsive" src="./img/about_1.JPG" alt="">
			</div>
			<!-- /About slider -->
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /Why Choose Us -->

<!-- About -->
<div id="about" class="section md-padding">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Services</h2>
				<h4>The services we offer can be either packaged together or individually depending on the needs of your project.</h4> 
				<h4 class="text-muted">Contact us for further details and rates.</h4>
			</div>
			<!-- /Section header -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/recording_icon.png">
					{{!-- <h3>Recording</h3> --}}
					<h3>Recording</h3>
					<span class="service-after white-text">We came, we saw, we kicked its ass!  This is where we help develop the sound of your record. With 
						fresh perspective we can help you envision your project like you never imagined.  Our services include: pre-production / post 
						production, tempo mapping, additional instrumentation (keys, percussion, etc.), re-amping, structuring vocal melodies / 
						harmonies, and even help with the arrangement of your songs.</span>
				</div>
			</div>
			<!-- /about -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/editing_icon.png">
					<h3>Editing</h3>
					<span class="service-after white-text">Nobody is perfect. That’s where we come in.  After all performances are captured, the audio will 
						be “polished” to it’s relative pitch and synced together to form a cohesive and flowing piece of music. With state of the art 
						software like Melodyne, VocAlign and beat detection, your songs will never sound tighter and more full of life.</span>
				</div>
			</div>
			<!-- /about -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/mixing_icon.png">
					<h3>Mixing</h3>
					<span class="service-after white-text">We love when a plan comes together.  The most important step of the entire project.  With hundreds 
						of top of the line plugin suites and outboard gear, we will skillfully sculpt the “sound” of your record to create a 
						transparent, impactful and memorable mix.</span>
				</div>
			</div>
			<!-- /about -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/mastering_icon.png">
					<h3>Mastering</h3>
					<span class="service-after white-text">The stage where the mix take its final form.  No matter what style of mastering you are out to 
						achieve, we can help. From diversely dynamic to ear shattering loud, we will bring your songs to a commercial standard that 
						will be competitive with any record.</span>
				</div>
			</div>
			<!-- /about -->
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /About -->
