<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- why choose us content -->
			<div class="col-md-6">
				<div class="section-header">
					<h2 class="title">Why Choose Us</h2>
				</div>
				<p>Since 2008, Cardinal Recordings has offered a relaxed and creative atmosphere coupled with the highest quality recording 
					standards to artists of every genre and sound.</p>
				<p>Mike Weiser has over ten years experience as a touring/recording drummer. His goal is simple: to help artists 
					make great music. A single, EP, full length; Cardinal Recordings offers flat rates for projects at any level 
					(AND NOT BY THE HOUR). With Steve Angello now onboard, their clientele has increased and the editing, mixing and mastering 
					process has allowed them to welcome many more bands in faster and more efficient way then before.</p>
			</div>
			<!-- /why choose us content -->
			<!-- About slider -->
			<div class="col-md-6">
				<img class="img-responsive" src="./img/about_1.JPG" alt="">
			</div>
			<!-- /About slider -->
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /Why Choose Us -->

<!-- About -->
<div id="about" class="section md-padding">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Services</h2>
			</div>
			<!-- /Section header -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/recording_icon.png">
					<h3>Recording</h3>
				</div>
			</div>
			<!-- /about -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/editing_icon.png">
					<h3>Editing</h3>
				</div>
			</div>
			<!-- /about -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/mixing_icon.png">
					<h3>Mixing</h3>
				</div>
			</div>
			<!-- /about -->
			<!-- about -->
			<div class="col-md-3">
				<div class="about">
					<img src="img/mastering_icon.png">
					<h3>Mastering</h3>
				</div>
			</div>
			<!-- /about -->
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /About -->
