<body>
  <!-- Header -->
	<header id="home-services">
		<!-- Background Image -->
		<div class="bg-img img-responsive" style="background-image: url('/img/client_bg.png');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			{{!-- Container --}}
			<div class="container">
				{{!-- Navbar Header --}}
				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="img/logo_red.png" alt="logo">
							<img class="logo-alt" src="img/logo_red.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Collapse Nav Button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>
				{{!-- /Navbar Header --}}
				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/clients">Clients</a></li>
					<li><a href="/equipment">Equipment</a></li>
					<li><a href="/contact">Contact</a></li>					
				</ul>
				<!-- /Main navigation -->
			</div>
			{{!-- /Container --}}
		</nav>
		<!-- /Nav -->

		<!-- Home Wrapper -->
		<div class="home-wrapper">
			{{!-- Container --}}
			<div class="container">
				{{!-- Row --}}
				<div class="row">
					<!-- Home Content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							{{!-- <h1 class="white-text">Cardinal Recording</h1> --}}
							<img src="img/logo_white.png" class="img-responsive">
						</div>
					</div>
					<!-- /Home Content -->
				</div>
				{{!-- /Row --}}
			</div>
			{{!-- /Container --}}
		</div>
		{{!-- Home Wrapper --}}
	</header>
	{{!-- /Header --}}

<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">What we offer</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>App Development</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-rocket"></i>
						<h3>Graphic Design</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-cogs"></i>
						<h3>Creative Idea</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>Marketing</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-pencil"></i>
						<h3>Awesome Support</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-flask"></i>
						<h3>Brand Design</h3>
						<p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->